<div class='container'>
	{{#if user}}
		{{> _user_home}}
	{{else}}	
	<div class="page-title">
		<h1>By The Book!</h1>
		<h3>A Trading Club For The Literate</h3>
	 	<img class="img title-img center-block" src='https://upload.wikimedia.org/wikipedia/commons/thumb/2/2e/MSL_14%2C_Greek_medical_texts_Wellcome_L0034879.jpg/320px-MSL_14%2C_Greek_medical_texts_Wellcome_L0034879.jpg' />
	 	<h4><em>"One Man's Trash Is Another Man's Book!"</em> -Abraham Lincoln</h4>
	 </div>	
	{{/if}}
</div>