<div class="auth-form">
	<h2>Sign In!</h2>
	<form action="/signin" method="post">
		<div class="form-group">
			<label for="username">Email or Username:</label>
			<input type="text" class="form-control" name="username">
		</div>
		<div class="form-group">
			<label for="password">Enter a password:</label>
			<input type="password" class="form-control" name="password">
		</div>
		<input type="submit">
	</form>
</div>